.hero {
    overflow: hidden;
    position: relative;
}

.hero-wrapper {
    position: relative;
    height: var(--hero-height);
    width: 100%;
    z-index: 1;
}

.hero-wrapper:after {
    content: '';
    width: 100vw;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background: var(--color-bg);
    position: absolute;
    z-index: -4;
}

.hero-content {
    max-width: 542px;
    padding-top: 124px;
}

.hero-title {
    font-size: 60px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
}

.hero-title span {
    display: block;
}

.hero-title span:first-child {
    text-align: center;
}

.hero-title span:last-child {
    text-align: end;
}

.hero-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-align: center;
    margin-top: 24px;
}

.hero-buttons {
    margin-top: 40px;
    display: flex;
    gap: 16px;
}

.hero-buttons .btn{
    width: 100%;
}

.hero-image {
    position: absolute;
}

.hero-image-city {
    left: calc(50% + 10px);
    bottom: 0;
    z-index: -1;
    width: auto;
    transform: translateX(-50%) translateY(23px);
}

.hero-image-pawn {
    right: -28px;
    bottom: 19px;
    animation: pawn 1s linear forwards;
}

.hero-image-horse {
    right: 261px;
    bottom: -52px;
}

.hero-text-circle {
    top: -45px;
    right: -40px;
    z-index: -2;
    animation: rotate_text 50s linear infinite;
}

.hero-image-chess1 {
    top: calc(50% - 80px);
    left: calc(50% + 47px);
    z-index: -2;
}

.hero-image-chess2 {
    top: 165px;
    right: 86px;
    z-index: -2;
}

.hero-bg {
    left: 50%;
    top: 0;
    width: 100vw;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1;
    mix-blend-mode: color-burn;
}

@media only screen and (max-width: 1199px) {
    .hero-content {
        max-width: 335px;
    }

    .hero-title {
        font-size: 36px;
    }

    .hero-text {
        text-align: start;
    }

    .hero-buttons {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 991px) {
    .hero-text-circle {
        width: 55%;
        top: 140px;
    }

    .hero-image-chess2 {
        right: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .hero-content {
        padding-top: 91px;
    }

    .hero-buttons {
        margin-top: 30px;
        gap: 14px;
    }

    .hero-image-city {
        left: 21px;
        bottom: 12px;
        width: 887px;
    }

    .hero-text-circle {
        width: 299px;
        bottom: 66px;
        top: auto;
        right: 27px;
    }

    .hero-image-chess1 {
        left: 43px;
        z-index: -2;
        width: 59px;
        bottom: 111px;
        top: auto;
    }
    .hero-image-chess2{
        right: 66px;
        width: 61px;
        bottom: 163px;
        transform: rotate(7deg);
        top: auto;
    }
    .hero-image-pawn {
        display: none;
    }

    .hero-image-horse {
        width: 96px;
        left: 38%;
        right: auto;
        bottom: -18px;
    }
}