@keyframes rotate_text {
    to {
        transform: rotate(360deg);
    }
}

@keyframes pawn {
    0% {
        transform: rotate(0deg) translateY(0px) translateX(113px);
    }

    50% {
        transform: rotate(25deg) translateY(-80px) translateX(55.5px);
    }

    100% {
        transform: rotate(0deg) translateY(0px) translateX(0);
    }
}

@keyframes ticker {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(var(--ticker-width) * -1px - 9px));
    }
}